@import 'https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 200px;
}

.navbar-item,
.navbar-link,
.navbar-dropdown {
  color: white;
}

.navbar-item {
  margin-left: 10px;
}

body {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #06021c;
  color: #fff;
}

header {
  background-color: #141032;
}

hr {
  border: none;
  height: 0.1px;
  border-color: rgba(255, 255, 255, 0.2);
}
